---
layout: feature
title: "DevSecOps to shift left security"
description: "GitLab application security scans for SAST, DAST, Dependency scanning, Container Scanning, Secrets Detection, Fuzz testing, and License Compliance within DevOps CI pipeline"
suppress_header: true
canonical_path: "/solutions/dev-sec-ops/"
extra_css:
  - solutions-v3.css
  - comparison-page-v2.css
  - carousel.css
---

.blank-header
  = image_tag "/images/home/icons-pattern-left.svg", class: "image-border image-border-left", alt: "Gitlab hero border pattern left svg"
  = image_tag "/images/home/icons-pattern-right.svg", class: "image-border image-border-right", alt: "Gitlab hero border pattern right svg"
  .header-content-x
    = image_tag "/images/devops-tools/gitlab-logo.svg", class: "hero-image-small", alt: "Gitlab logo svg"
    %h1 DevSecOps with GitLab
    %p
      With GitLab, Security is built into the CI pipeline, out of the box. Every code commit is automatically scanned for security vulnerabilities in your code and its dependencies. Actionable results are delivered to the developer in their native workflow for rapid remediation.
    = link_to "Try all features free for 30 days", "/free-trial/", class: "btn cta-btn orange"


.content-container.padding-vertical0.white-bg
  .sub-wrapper

    / ----- This creates the two panel section Text-Video ShiftLeft with DevSecOps
    .content-container.padding-vertical0.white-bg
      .container
        = partial('includes/solutions/dev-sec-ops/old/1-two-column-shiftleft.html.haml')

    / ----- This creates the two layer section Text-Image GitLab DevSecOps
    .content-container.padding-vertical0.white-bg
      .container
        = partial('includes/solutions/dev-sec-ops/old/2-two-layer-gitlab-devsecops.html.haml')

    / ----- This creates the full wide list of items - GitLab Advantages
    .content-container.padding-vertical0.white-bg
      .container
        = partial('includes/solutions/dev-sec-ops/old/3-full-wide-list-gitlabadvantages.html.haml')

    / ----- This creates the full wide video - GitLab Scanner
    .content-container.padding-vertical0.white-bg
      .container
        = partial('includes/solutions/dev-sec-ops/old/4-full-wide-video-scanner-deepdive.html.haml')

    / ----- This creates the two column section - text-image - GitLab SAST
    .content-container.padding-vertical0.white-bg
      .container
        = partial('includes/solutions/dev-sec-ops/old/6-two-column-text-image-sast.html.haml')

    / ----- This creates the two column section - image-text - GitLab dast
    .content-container.padding-vertical0.white-bg
      .container
        = partial('includes/solutions/dev-sec-ops/old/7-two-column-image-text-dast.html.haml')

    / ----- This creates the two column section - text-image - GitLab Dependency Scanning
    .content-container.padding-vertical0.white-bg
      .container
        = partial('includes/solutions/dev-sec-ops/old/8-two-column-text-image-depscanning.html.haml')

    / ----- This creates the two column section - image-text - GitLab Container Scanning
    .content-container.padding-vertical0.white-bg
      .container
        = partial('includes/solutions/dev-sec-ops/old/9-two-column-image-text-containerscanning.html.haml')

    / ----- This creates the two column section - text-image - GitLab License Compliance
    .content-container.padding-vertical0.white-bg
      .container
        = partial('includes/solutions/dev-sec-ops/old/10-two-column-text-image-licensecompliance.html.haml')

    / ----- This creates the full wide list of items - GitLab Capabilities
    .content-container.padding-vertical0.white-bg
      .container
        = partial('includes/solutions/dev-sec-ops/old/5-full-wide-list-capabilities.html.haml')

    / ----- This creates a three tile section
    .content-container.padding-vertical0.white-bg
      .container
      = partial('includes/solutions/dev-sec-ops/devsecops-roadmap.html.haml')

    / ----- This creates the full wide list - GitLab resources
    .content-container.padding-vertical0.white-bg
      .container
        = partial('includes/solutions/dev-sec-ops/old/11-full-wide-list-resources.html.haml')
