%hr.u-margin-top-0.u-margin-bottom-lg
.row.topic-body
  .col
    - if topic.cover_image != nil
      - cover_image = topic.cover_image
      = image_tag "#{cover_image}", class: "hero-image", alt: topic.title
.row.topic-body
  .col.u-padding-top-md
  %h1.u-margin-bottom-md
    = topic.body_title
    = kramdown(topic.body)
